*{
    font-family: poppins;
    margin: 0;
}
.container{
     position:relative;
}
.logo{
    color:#384651;
    display: inline-block;
    font-size: 50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 10px;

}
nav ul li{
    text-decoration-line: none;
    display: inline;
    padding: 10px 10px;
}
nav ul li a{
    color: #384651;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.card{
    width: 50%;
    height: 60%;
    display:inline-flexbox;
    float: right;
}
.right-1{
    float: right;
}
.card-body{
    display: inline;
    height: 50%;
    width: 50%;
    margin-right: 60px;
    padding-right: 100px;
}
.card-heading{
    width: 50%;
    height: 50%;
    display:inline-flexbox;
    float: right;  
    text-align:left;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 73px;
}
.card-text{
    margin-top:60px;
    text-align:left;
}
.business-name,.address,.contact-info{
    display: inline;
    height: 500px;
    background-color: rgb(131, 127, 255);
}
